.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    height: 50vh;
    background-color: rgba(202, 205, 204, 0.781);
    margin-top: 10%;
}

h1{
    background-color: lightcoral;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    width: 40%;
    height: 50%;
    background-color: lightpink;
    text-align: center;
    font-weight: bolder;
    

}

body{
    display: flex;
    justify-content: center;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/731/316/small/web-icon-line-on-white-background-image-for-web-presentation-logo-icon-symbol-free-vector.jpg");
    font-family: Arial, Helvetica, sans-serif;
}
label{
    margin: 5px;
}
input{
    margin: 5px;
    height: 30px;
}

button{
    margin-top: 40px;
    width: 100px;
    height: 40px;
    margin-left: 34%;
    background-color: rgb(206, 231, 17);
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    background-color: yellow;
}
#result{
    display: none;
}